/**
 * 全局样式
 */

html, body {
  min-height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background-color: #001018;
}

// 注册字体示例，考虑绝大部分浏览器
// @font-face {
//   font-family: 'MyWebFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

// 液晶数码字体
// @font-face {
//   font-family: 'DS-DIGI';
//   src: url('../font/DS-DIGI.TTF') format('truetype')
// }

@import 'LCalendar.css';

@import 'rem.scss';

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.gearDate {
  font-size: px2rem(8); // 1.6em 2em
  background-color: rgba(0, 0, 0, 0.7);
}
.date_btn {
  font-size: 2em; // 1.6em 
}

.amap-maptypecontrol {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 225px;
  left: 60px;
  z-index: 10;
}
.amap-maptype-check, .amap-maptype-label {
  float: left;
}
.amap-maptype-title {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 13px;
  border-top: 1px solid #2A82E4;
  color: #5383E9;
  font-weight: bold;
}
.amap-maptype-wrap {
  width: 45px;
  height: 45px;
}
.amap-maptype-con {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 0 #ccc;
}
.amap-maptype-win {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: none;
}
.amap-maptype-list {
  width: 64px !important;
  height: 40px !important;
  top: 64px;
  display: none !important;
}
.amap-maptype-list p {
  width: 64px;
}
.amap-maptype-item {
  height: 20px !important;
}
.amap-maptype-check {
  width: 15px;
  height: 15px;
  margin-top: 2.5px;
}
.amap-maptype-label {
  width: 45px;
  height: 20px;
  line-height: 20px;
  margin-left: 0px;
  text-indent: 8px;
  font-size: 12px;
  display: inline-block;
  float: left;
}
.amap-zoomcontrol {
  width: 45px !important;
  position: fixed !important;
  top: auto !important;
  right: auto !important;
  bottom: 30px !important;
  left: 15px !important;
  z-index: 10 !important;
  border-radius: 3px !important;
  border: 0px solid #ccc !important;
  box-shadow: 0px 0px 0px 0 #ccc !important;
  background-color: rgba(255,255,255,0) !important;
}
.amap-zoom-touch-plus {
  margin-bottom: 5px;
}
.amap-zoom-touch-plus div, .amap-zoom-touch-minus div{
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px 0 #ccc;
  color: #5383E9;
  border-radius: 4px;
  font-weight: bold;
}
.amap-zoom-touch-minus {
  height: 45px;
}
.amap-zoomcontrol:after {
  height: 0px !important;
}
.amap-geolocation-con {
  display: none;
  position: fixed !important;
  bottom: 130px !important;
  left: 15px !important;
}
.amap-geo {
  width: 45px !important;
  height: 45px !important;
  border-radius: 4px !important;
  background: #fff url('../img/lanse.png') 55% 55% no-repeat !important;
  background-size: 55% 55% !important;
  background-position: center center !important;
}
.custom-geo {
  -display: none;
  position: fixed;
  bottom: 130px;
  left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  z-index: 90;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 10px 0 #ccc;
  background: #fff url('../../assets/img/lanse.png') 55% 55% no-repeat;
  background-size: 55% 55%;
  background-position: center center;
}
 .introjs-helperNumberLayer {
  top: 0;
  left: 0;
  font-size: px2rem(14);
}
.introjs-tooltip {
  background-color: #4986EA;
  font-size: px2rem(16);
  line-height: px2rem(24);
  color: #fff;
}
.introjs-skipbutton,.introjs-prevbutton,.introjs-nextbutton {
  font-size: px2rem(14);
}
.introjs-skipbutton {
  color: #333;
}
.tipActive {
  // background-color: #192A3E;
  background-color: transparent;
  border: 2px solid #E6E7E8;
}